-var activeClass = (active)? 'active': ''
.item(class=activeClass)
    .col-xs-3
        .col Bob Jacke
    .col-xs-2
        .col 20
    .col-xs-5
        .col +7385251565527
    .col-xs-2.buttons
        span(data-preview).btn.btn-sm.green.glyphicon.glyphicon-eye-open
        span(data-edit).btn.blue.btn-sm.glyphicon.glyphicon-pencil
        span(data-remove).btn.btn-sm.red.glyphicon.glyphicon-trash
    .clr